<p>Name : {{name}}, Weight  <em>{{treatment}}</em></p>
<p>You have scheduled Membership of <b>{{name}}</b> and will receive a SMS reminder on <b>{{number}}</b> at <b>{{reminderDT}}</b>.</p>
<h2>Thank You.</h2>