{{#if error}}
    <p><strong style="color : red">{{error}}</strong></p>
{{/if}}
<form method="post" action="/book">

    <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1">Name</label>
        
        <input class="form-control" type="text" name="name" value="{{name}}" required />
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1">Weight</label>
        
        <input class="form-control" type="text" name="treatment" value="{{treatment}}" required/>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1">Mobile Number</label>
        
        <input class="form-control" type="tel" name="number" value="{{number}}" required/>        
    </div class="input-group mb-3">
    <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1">Date and Time </label>
        
        <input class="form-control" type="date" name="date" value="{{date}}" required/>
        <input class="form-control" type="time" name="time" value="{{time}}" required/>
    </div>
    <div>
        <button class="btn btn-primary mt-4" type="submit">Book Now!</button>
    </div>
</form>